* {
  font-family: "Inter", sans-serif !important;
  -webkit-tap-highlight-color: transparent;
}

/* COLORS */
:root {
  --p50: #f1f8ff;
  --p100: #ddecfd;
  --p200: #bbd7fc;
  --p200a: #76a4ff3e;
  --p300: #98bdf6;
  --p400: #7ca4ec;
  --p450: #618dde;
  --p500: #5281e1;
  --p500a: #76a4ff9e;
  --p600: #3b63c1;
  --p700: #2948a2;
  --p800: #1a3182;
  --p900: #0f216c;
  --b: #111111;
  --ba: #000000a6;
  --bt: #333333;
  --w: #ffffff;
  --wt: #ececec;
  --divider: #acacac20;
  --divider2: #acacac30;
  --divider3: #acacac50;
  --trans: #ff000000;
}

a {
  text-decoration: none !important;
}

p {
  font-size: 13px;
}
label {
  font-size: 13px !important;
}

button {
  font-size: 13px !important;
}

.btn-solid {
  background: var(--divider) !important;
}
.btn:hover:not(:disabled),
.btn-solid:hover:not(:disabled) {
  background: var(--divider);
}
.btn:active:not(:disabled),
.btn-solid:active:not(:disabled) {
  background: var(--divider2);
}
.clicky:active:not(:disabled) {
  transform: scale(0.95);
}
.sm-clicky:active:not(:disabled) {
  transform: scale(0.9);
}

input {
  border-radius: 4px !important;
  outline: none !important;
  border: 2px solid var(--divider) !important;
  font-size: 14px !important;
}
input::placeholder {
  /* opacity: 0.5; */
  color: var(--divider3);
}
input:focus,
input:focus-visible {
  box-shadow: none !important;
  border: 2px solid var(--p500) !important;
}

.ss::-webkit-scrollbar {
  width: 10px;
}

.ss::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ss::-webkit-scrollbar-thumb {
  background: #888;
}

.ss::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 770px) {
  p {
    font-size: 15px;
  }
  label {
    font-size: 15px !important;
  }
  button {
    font-size: 14px !important;
  }
  input {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 770px) {
  button {
    height: 36px !important;
  }
  input {
    height: 36px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}
